<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.minevera">

    <!-- Pongo permisos solo para marshamllow y posteriores por si mas adelante hace falta -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permiso a internet si no la aplicación fallara al conectarse con la api -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Esto es para hacer un Splash Screen dinámico que se muestra lo que tarda en cargar la APP -->
        <activity
            android:name="layout.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetallesRecetas"
            android:label="@string/title_activity_detalles_recetas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="test.minevera.MainActivity" />
        </activity>
        <provider
            android:name="ContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"></provider>
    </application>

</manifest>